/*This is my new CSS page*/
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

h3 {
    color: rgb(29, 29, 93);
}



:root{
    --main-color: rgb(240, 255, 255);
}

* {
    background-color: var(--main-color, blue)
}

input[type="checkbox"] {
    margin-left: 20px;
}

.title{
    color:#00008b;
    font-size: 40px;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
    border-color: black;
    border-style: ridge;
    position: static;
    top: 20px
    
}

#name{
    position: sticky;
    top: 10px;
    text-align: right;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.table_of_content{
    color:hsl(240, 100%, 50%);
    font-size: 0.75cm
}

.Meeting1{ 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1em;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet1Title{ 
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
    color: black;
}

.Meeting2, .Meeting3{
    color: black;   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1em;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet2Title{
    color: black;  
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
}


.meet3Title{
    color: black;  
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
}

.attend{
    display: block;
    border-color: black;
    border-style: solid;
}

.attend2{
    display: inline-block;
    border-color: black;
    border-style: dashed;
}

.theForm{
    border-color:black;
    border-style:dashed;
    height: 5cm;
    width: max-content;
    max-width: 100vw;
    display: grid;
    display: flex;
}

.vid{
    max-height: 80vw;
    max-width: 80vw;
}

button:hover {
    color: blue;
}

button:active{
    color: red
}

div h2{
    color: purple
}

div > p{
    color: purple
}

h1 ~ h2{
    color: rgb(232, 50, 232);
}

h3 + h4{
    color:crimson
}

h5.ref{
    color: color-mix(overlay, blue, yellow 50%);
}

h1:has(p){
    color:blue;
}

.example {
    & > a{
      color: red;
      &:hover{
        color: white;
        background-color: color(display-p3 1 2 3);
      }
    }
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
