/*This is my new CSS page*/
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

:root{
    --main-color: rgb(240, 255, 255);
}

.body{
    background-color: var(--main-color, blue)
    
}

.title{
    color:#00008b;
    font-size: 40px;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
    border-color: black;
    border-style: ridge;
    position: static;
    top: 20px
    
}

.name{
    position: sticky;
    top: 10px;
    text-align: right;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.table_of_content{
    color:hsl(240, 100%, 50%);
    font-size: 0.75cm
}

.Meeting1{
    color: linear-gradient(to right,black, grey);   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1em;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet1Title{
    color: bluelinear-gradient(to right,black, blue);  
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
}

.Meeting2{
    color: linear-gradient(to right,black, grey);   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1em;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet2Title{
    color: bluelinear-gradient(to right,black, blue);  
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
}

.Meeting3{
    color: linear-gradient(to right,black, grey);   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1em;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet3Title{
    color: bluelinear-gradient(to right,black, blue);  
    border-style: solid;
    border-color: black;
    border-radius: 2em; 
    padding-left: 2em;
    text-decoration: underline;
    text-align: center;
}

.attend{
    display: block;
    border-color: black;
    border-style: solid;
}

.attend2{
    display: inline-block;
    border-color: black;
    border-style: dashed;
}

.theForm{
    border-color:black;
    border-style:dashed;
    height: 5cm;
    width: max-content;
    max-width: 100vw;
    display: grid;
    display: flex;
}

.vid{
    max-height: 90vw;
    max-width: 90vw;
    padding-left: -10px;
}

button:hover {
    color: blue;
}

button:active{
    color: red
}
